{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super () }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="twelve columns">
            <p>Hello! Welcome to weather-mang. Currently weather-mang is in beta. The goal of weather-mang is to provide brief climatic summaries of <a href="https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/global-historical-climatology-network-ghcn">GHCN data</a>. It is open source and on <a href="https://github.com/JonZudell/weather-mang">github</a>. There are a lot of planned improvements for the future. If you have any comments or questions please contact me at <a href="mailto:weathermangfeedback@gmail.com">weathermangfeedback@gmail.com</a>. P.S. I'M AVAILABLE FOR HIRE.</p>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p> DISCLAIMER: The data may not be 100% accurate in it's summary if you find an issue please let me know. You can contact me at <a href="mailto:weathermangfeedback@gmail.com">weathermangfeedback@gmail.com</a></p>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p>Weather-mang is built on the following technical stack.</p>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <a frameborder="0" data-theme="light" data-stack-embed="true" data-layers="1,2,3,4" href="https://embed.stackshare.io/stacks/embed/5a08b51461bbd8"/></a>
            <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
        </div>
    </div>
{% endblock %}
