{% macro make_map(stations) %}
<div class="row">
    <div id="station-visualiser" width="100%" height="550px"></div>
    <script type="text/javascript">
        $(function () {
            $('#station-visualiser').highcharts('Map', {
                title: {
                    text: 'Station Visualizer'
                }, mapNavigation: {
                    enabled: true
                }, tooltip: {
                    headerFormat: '',
                    pointerFormat: '<b>{point.name}</b> - {point.id} </br> Lat: {point.lat}, Lon: {point.lon}'
                }, series: [{
                    mapData: Highcharts.maps['custom/world'],
                    name: 'Basemap',
                    borderColor: '#000000',
                    nullColor: 'rgba(200,200,200, 0.3)',
                    showInLegend false
                }, {
                    type: 'mappoint',
                    name: 'Stations',
                    color: Highcharts.getOptions().colors[1]
                    data: [
                        {% for key in stations.keys() %}
                            {% raw %} { {% endraw %}
                            name: '{{ stations[key]['NAME'] }}',
                            lat:  {{ stations[key]['LATITUDE'] }},
                            lon: {{ stations[key]['LONGITUDE'] }},
                            id: '{{ stations[key]['ID'] }}'
                            {% raw %} } {% endraw %}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ]
                }]
             });
         });
    </script>
</div>
{% endmacro %}
